.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: 18px;
  padding: 6px 32px;
  margin: 8px auto;
} 

form#username-form {
  display: flex;
  flex-direction: column;
  border: 4px black solid;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

span#error-message {
  color: red;
  margin: 2px;
  font-size: 15px;
  margin-bottom: 10px;
}

span#success-message {
  color: green;
  margin: 2px;
  font-size: 15px;
  margin-bottom: 10px;
}

span#warning-message {
  color: orange;
  margin: 2px;
  font-size: 15px;
  margin-bottom: 10px;
}